<h1> Sign up for Alpha Blog </h1>

<%= render "shared/errors", obj: @user %>

<%= form_with scope: :users, url: users_path, local: true, data: { turbo: false } do |f| %>
    <p>
        <%= f.label :Username %></br>
        <%= f.text_field :Username %></br>
    </p>

    <p>
        <%= f.label :Email %></br>
        <%= f.text_field :Email %></br>
    </p>

    <p>
        <%= f.label :Password %></br>
        <%= f.text_field :Password %></br>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>


<p>
    <%= link_to "Back", users_path %>
</p>